.bg-container{ 
    // height: 100%; 
    // width: 100%; 
    // opacity: 80%;
   // background: url('../../assets/oliveImg/olive5.jpg');  
   background-color: rgb(133, 167, 133);
    // background-repeat: no-repeat; 
    // background-position: center; 
    // background-size: cover;
} 
.all{ 
    transform: translateY(30vh); 
} 
.background-container {  
    height: 100%; 
    width: 100%; 
    opacity: 80%;
    background: url('../../assets/oliveImg/olive3.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
} 