<!-- <ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content > 
  <ion-div fullscreen="true" class="background-container" style="background-color: rgb(148, 189, 148);">
    <form class="all">  
      <!-- <ion-item lines="full"> 
        <ion-label position="floating">name</ion-label> 
        <ion-input type="text" #name required> </ion-input>
          </ion-item>  
             -->
              <ion-card> 
                <ion-item lines="full"> 
                  <ion-label position="floating">Nom et Prenom </ion-label> 
                  <ion-input type="text" #nomPrenom required> </ion-input>
                    </ion-item> 
      <ion-item lines="full"> 
    <ion-label position="floating">Email</ion-label> 
    <ion-input type="text" #email required> </ion-input>
      </ion-item> 
      <ion-item lines="full"> 
        <ion-label position="floating">Password</ion-label> 
        <ion-input type="password" #password required> </ion-input>
          </ion-item> 
          <ion-row> 
            <ion-col> 
              <ion-button color="success" type="submit"  expand="block"> 
                 Register
              </ion-button>
            </ion-col>
          </ion-row> 
          <ion-row> 
            <ion-col> 
              <ion-button color="success" type="submit" expand="block"> 
                 logIn
              </ion-button>
            </ion-col>
          </ion-row> 
        </ion-card>
    </form>  
    <!-- <div>
      <ul class="form-style-1">
  
    <li>
        <label>{{Choosephoto}}  <span class="required"> 
      
            <ion-icon name="photos"  (click) ="presentActionSheet()"     color="danger" item-end > </ion-icon>
      
          *</span></label>

    </li>
                

    <br/> 
 

   <li>
       <label>{{EnterEmail}}  <span class="required">*</span></label>

       <input   type="email" [(ngModel)]="Participant.email" class="field-long" placeholder="{{EnterEmail}}" /> 
     </li>
     </ul>
     </div>
     <ion-button color="success" type="submit" (click)="createprofile()" expand="block"> 
      logIn
   </ion-button>
</ion-div> -->
</ion-content>
