ion-container{ 
    --ion-background-color:rgb(101, 161, 101); 
} 
.containerWrap{ 
    display: flex; 
    align-items:center; 
    justify-content: center;
    height: 100%;
} 
.btn
{ 
    background:rgb(207, 121, 135) ; 
    text-align: center;
}