

.background-container {  
    height: 100%; 
    width: 100%; 
    opacity: 80%;
    background: url('../../assets/oliveImg/olive3.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
} 

ion-item{ 
    --ion-background-color: transparent;
} 
.all{ 
    transform: translateY(30vh); 
    opacity: 100%;
    
}  
ion-button{ 
    color: green;
} 
a{ 
    --ion-color-warning-contrast:black;
}

// ion-input{ 
//     color: green;
// } 
p{   text-decoration: black;
    text-align: center;
} 
ion-card{ 
  background: rgba($color: white, $alpha: 0.75); 
  
} 