

<ion-content>
<div class="background-container ion-no-padding ion-no-margin" fullscreen="true">
<ion-card >
  <!-- <ion-img src="assets/images/header.png"></ion-img> -->
  <ion-card-header>
  <ion-card-title>
    <b>Bienvenu</b> 
  </ion-card-title>
  <ion-card-subtitle class="ion-text-lowercase">
    
  </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <div class="signin-btns">
        <ion-button  size="small" fill="solid" shape="round" class="loginbtn" (click)="gotoLogin1page()" color="success">
         s'identifier
        </ion-button>
        <ion-button  size="small" fill="outline" shape="round" color="light" (click)="registerUser()" >s'inscrire</ion-button>
      </div>
     
  </ion-card-content>

</ion-card>
</div>
</ion-content>