ion-content{
    // --ion-background-color:#bec7bf !important;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
  }
  
  ion-card{
    background-color: rgba($color: rgb(207, 202, 202), $alpha: 0.45) !important;
     padding: 0 !important; 
     transform: translateY(25vh); 
  }
  
  .background-container {  
    height: 100%; 
    width: 100%; 
    opacity: 80%;
    background: url('../../assets/oliveImg/olive5.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
} 
  
  ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color:#080808;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#898585;
    text-align: center;
    font-weight: 300;
  }
  
  ion-header{
    position: absolute;
  }
  
  ion-card{
  //    --ion-background-color:transparent;
  //  box-shadow: none !important; 
  // transform: translateX(25vh ,25vh);
  }
  
  .signin-btns{
    margin-top: 35px;
    text-align: center;
    color:#4b4e52;
  }
  
  .loginbtn{
    --ion-color-primary:#215AB7;
  }
  
  .text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#080808;
    }
  }
  
  .social-btns{
    margin-top: 30px;
    text-align: center;
    ion-button{
      width:40px;
      padding-left: 5px !important;
    }
  }