ion-content{
    --ion-background-color:#e5ece8; 
}

.containerWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

ion-button{
    --background:#497e51;
}

.btn{
      background-color:#e5ece8;
      text-align: center;
      color: #7e8e96;
      margin-top: 5px;
} 
.bg-color{
    background: #e5ece8;
  }
  