ion-content{
    --ion-background-color:#3b994f;
}


ion-header{
     position: absolute;
     --ion-background-color:#2b6b3b;
}


ion-toolbar{
 --ion-background-color:#418650; 
 --opacity:0;
}
ion-title{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color:#fff;
}

.container{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #232641;
}

.overylay{
    position: relative;
    text-align: center;
    top:60%;
}

 ion-avatar{
     height: 100px;
     width: 100px;
     margin: auto;
     border:  4px solid  #6e621a;
 }

 ion-card{
     margin-top: 40px;
     --ion-background-color: transparent !important;
      box-shadow: none;
      text-align: center;
 }

 ion-item{
     --ion-item-background: #536c77;
     text-align: center;
     color:#c2c3c4;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-style: italic;
     font-weight: 400;
     font-size: 15px;
     border-radius: 5px;
     height: 35px;
     --min-height:35px;
     margin-bottom: 15px;
 }

 ion-label{
     text-align: center;
     padding: 0px;
     margin: 0px;
 }  
 /* Transparent standard */
ion-toolbar {
    border-radius: 0 0 20px 20px;
    --background: var(--ion-color-primary);
  
  }

ion-header{
    border-radius: 20px 20px 20px 20px;
}
ion-content{
    --background: var(--ion-color-light);
}



// POP UP MENU CSs

.popup-menu ion-icon {
  // text-align: center;

  font-size: 2.5em;
}
.popup-menu ion-label {
 
  font-size: 0.7em;
}
.popup-menu-overlay {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
  background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
}
.popup-menu-overlay.in {
  opacity: 1;
  visibility: visible;
  
}
.popup-menu-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;

  z-index: 7;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.popup-menu-toggle:before {
  position: absolute;
  // content: "\f30c";
  font-family: "Ionicons";
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  color: white;
  
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.popup-menu-toggle.out {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.popup-menu-toggle.out:before {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.popup-menu-panel {
  position: fixed;
  width: 300px;
  height: 110px;
  bottom: 20px;
  left: 50%;
  margin-left: -150px;
  // padding: 0px 5px;
  background-color:rgba(255,255,255,0.8);
  z-index: 8;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
}

.popup-menu-panel.in {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
