<!DOCTYPE html>
<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
   <div class="overylay">
    <ion-avatar>
      <!-- <img src="../../../assets/images/Profile.jpeg"> -->
      <ion-img [src]="profileImageUrl"></ion-img>
    </ion-avatar>
   </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{profileName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="mail"></ion-icon>
        <ion-label>{{this.profileEmail}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer style="padding-top: 10%; --background: rgba(255,255,255,0.8);">
  <div class="popup-menu">
    <div class="popup-menu-toggle" [ngClass]="{'out': openMenu}" (click)="togglePopupMenu()">
      <ion-icon color="dark" name="grid-outline"></ion-icon>
    </div>
    <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>

    <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
      <ion-grid class="ion-no-padding">
        
        <ion-row align-items-center> 
          <ion-col size="6" class="ion-no-padding">
            <ion-tab-button [routerLink]="['/home']">
              <ion-icon color="dark" name="home-outline"></ion-icon>
              <ion-label color="dark">Home</ion-label>
            </ion-tab-button>
          </ion-col>
          
          <ion-col size="6" class="ion-no-padding">
            <ion-tab-button [routerLink]="['/map']">
              <ion-icon color="dark" name="person"></ion-icon>
              <ion-label color="dark">Map</ion-label>
            </ion-tab-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-footer>